.btn {
  font-size: rem(19px);
  font-weight: 800;
  padding: rem(18px) rem(35px);
  text-transform: uppercase;
  border-radius: rem(100px);
  line-height: 1;
  text-decoration: none;
  border: none;
  cursor: pointer;
  
  &--light {
    background: $yellow;
    color: #000000;
  }
  
  &--reset {
    background: none;
    border: none;
    color: #fff;
    font-weight: normal;
    text-transform: none;
  }
}