.headline {
  text-align: center;
}

.headline__title {
  margin-bottom: rem(25px);
}

.headline__subtitle {
  padding: 0 29%;
  margin-bottom: rem(49px);
  
  @include tablets {
    padding: 0 22%;
  }
  
  @include phones {
    padding: 0 5%;
    margin-bottom: rem(53px);
  }
}