
.orders {
  position: relative;
  color: #fff;
  background: url("../../img/order-bg.jpeg") center center / cover no-repeat;
  z-index: 1;
  
  &:before {
  content: "";
  top: 0;
  left: 0;
  position: absolute;
  background: #000;
  width: 100%;
  height: 100%;
  opacity: 40%;
  z-index: -1;
  }
}


