.title {
  font-size: 48px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  
  &--headline {
    color: #292929;
  }
  
  &--reviews {
    color: #292929;
  }
}
