.title {
  font-size: rem(48px);
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  
  @include phones {
    font-size: rem(40px);
    line-height: rem(36px);
  }
  &--headline {
    color: #292929;
  }
  
  &--reviews {
    color: #292929;
  }
}
