$containerWidth: 940px;
$baseFontSize: 18px;

//breakpoints

$tablets: 768px;
$phones: 480px;


//colors
$blue: #9bb3d8;
$yellow: #FEDB3F;
$darkgGrey: #666666;
$black: #292929;
$white: #FFFFFF;

@import "../media";

//z-indexes

$z-fixed-menu: 100;


//normalize
@import url("https://necolas.github.io/normalize.css/8.0.1/normalize.css");


//setups
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300;400;500;700&display=swap');
@import "./layout.scss";

//components
@import "./hero";
@import "./header";
@import "./features";
@import "./feature";
@import "./btn";
@import "./section";
@import "./headline";
@import "./benefits";
@import "./benefit";
@import "./reviews";
@import "./interactive-avatar";
@import "./form";
@import "./radio";
@import "./fixed-menu";
@import "./title";
@import "./menu";
@import "./hamburger"